/* @import "@radix-ui/colors/black-alpha.css"; */
/* @import "@radix-ui/colors/green.css"; */
/* @import "@radix-ui/colors/mauve.css"; */
/* @import "@radix-ui/colors/violet.css"; */

.DialogOverlay {
  background-color: var(--black-a9);
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.DialogContent {
  background-color: white;
  border-radius: 6px;
  box-shadow: hsla(113, 100%, 75%, 0.35) 0px 10px 38px -10px,
    hsla(133, 94%, 68%, 0.2) 0px 10px 20px -15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 450px;
  max-height: 85vh;
  padding: 0px;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}
.DialogContent:focus {
  outline: none;
}
